In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd
import csv

df=pd.read_csv('/4factor_2levels.csv')
print(df)

    Experiment No  factor 1  factor 2  factor 3  factor 4  output 1 (units)
0               1       3.2        25       5.4       200              17.9
1               2       3.2        25       5.4       220              20.3
2               3       3.2        25       6.9       200              15.0
3               4       3.2        25       6.9       220              18.0
4               5       3.2        60       5.4       200              17.5
5               6       3.2        60       5.4       220              21.5
6               7       3.2        60       6.9       200              24.2
7               8       3.2        60       6.9       220              27.6
8               9       6.5        25       5.4       200              19.5
9              10       6.5        25       5.4       220              22.0
10             11       6.5        25       6.9       200              19.5
11             12       6.5        25       6.9       220              26.0
12             13       6.5        60       5.4       200              24.0
13             14       6.5        60       5.4       220              17.0
14             15       6.5        60       6.9       200              16.8
15             16       6.5        60       6.9       220              20.7

In [4]:
print("factor1 list --> ",df['factor 1'].tolist())
print("factor2 list --> ",df['factor 2'].tolist())
print("factor3 list --> ",df['factor 3'].tolist())
print("factor4 list --> ",df['factor 4'].tolist())
print("output list  --> ",df['output 1 (units)'].tolist())

factor1 list -->  [3.2, 3.2, 3.2, 3.2, 3.2, 3.2, 3.2, 3.2, 6.5, 6.5, 6.5, 6.5, 6.5, 6.5, 6.5, 6.5]
factor2 list -->  [25, 25, 25, 25, 60, 60, 60, 60, 25, 25, 25, 25, 60, 60, 60, 60]
factor3 list -->  [5.4, 5.4, 6.9, 6.9, 5.4, 5.4, 6.9, 6.9, 5.4, 5.4, 6.9, 6.9, 5.4, 5.4, 6.9, 6.9]
factor4 list -->  [200, 220, 200, 220, 200, 220, 200, 220, 200, 220, 200, 220, 200, 220, 200, 220]
output list  -->  [17.9, 20.3, 15.0, 18.0, 17.5, 21.5, 24.2, 27.6, 19.5, 22.0, 19.5, 26.0, 24.0, 17.0, 16.8, 20.7]

In [5]:
def factor_effect_on_output(factor,output):
  effect=0
  for i in range(len(output)):
      if factor[i]==max(factor):    
          effect+=output[i]
      elif factor[i]==min(factor):
          effect-=output[i]
  return effect

In [6]:
for i in df[['factor 1','factor 2','factor 3','factor 4']]:
  effect_of_factor=factor_effect_on_output(df[i].tolist(),df['output 1 (units)'].tolist())
  print("the effect of ",i," is ",effect_of_factor)

the effect of  factor 1  is  3.5
the effect of  factor 2  is  11.099999999999994
the effect of  factor 3  is  8.099999999999994
the effect of  factor 4  is  18.700000000000003